# Ambiente virtual
app-env/
venv/
.env/

# Dependências do Python
__pycache__/
*.pyc

# Ignorar modelo pesado


# Node e React
node_modules/
dist/
build/

# Configs do sistema
.DS_Store
*.log

# IDEs
.vscode/
.idea/
